<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>일정관리</title>
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Gaegu&family=Jua&family=Nanum+Pen+Script&family=Playwrite+AU+SA:wght@100..400&family=Single+Day&display=swap" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
   
   <!-- 풀캘린더 사용하기위한 script -->
   <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css' rel='stylesheet'/>
   <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script> 
   <!-- 풀캘린더 상단 버튼 한글로 변경하기위한 스크립트-->
   <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.15/locales/ko.global.js"></script> 
   
   <!-- tippy 사용 위찬 연결-->
   <script src="https://unpkg.com/@popperjs/core@2"></script>
   <script src="https://unpkg.com/tippy.js@6"></script>
   <style>
       body *{
           font-family: 'Jua';
           text-decoration: none;
       }
       #calendar{
       		width: 80%;
       		height: 900px;
       		margin: 20px auto;
       }
       .modal-body td{
       		margin-left:5px;
       }
       #scheTitle{
    		width: 80%;
    		margin: 20px auto;
		}
       
       
       /* 토요일, 일요일 컬러 */
       .fc-day-sun a, .fc-day-sat a { 
  			color: red;
		}

		/*버튼 크기 및 사이즈 설정*/
		.fc .fc-button {
  			background-color: orange;
  			color: #f5f5f5;
  			border: none;
		}
		/*버튼 마우스 오버 시*/
		.fc .fc-button:hover {
  			background-color:darkorange;
		}

		/* 버튼 클릭된 상태일 때  */
		.fc .fc-button-group > .fc-button.fc-button-active, .fc .fc-button-group > .fc-button:active, .fc .fc-button-group > .fc-button:focus, .fc .fc-button-group > .fc-button:hover 
		{
  			background-color: lightgray;
		}
	
		/* today 버튼 - 이번 달에 위치할 때 */
		.fc .fc-today-button:disabled {
  			background-color: darkorange;
  			color: #fff;
		}
</style>
<script th:inline="javascript">
//일정 목록 노출 : 타임리프로 목록 불러옴
  const scheduleList = /*[[${scheduleList}]]*/ [];

  const events = scheduleList.map(s => {
	  return {
		id : s.id,
	    title: s.name,
	    start: s.startTime.replace(' ', 'T'),
	    end: s.endTime.replace(' ', 'T'),
	    allDay: s.alltime,
	    //구분이 내 일정이면 배경, 테두리 green, 그룹이면 'gray' 나머지의 경우(회사)는 orange로 설정
	    borderColor:s.sort == 'private' ? 'green' : s.sort=='group'? 'gray' : 'orange',
	    backgroundColor: s.sort == 'private' ? 'green' : s.sort=='group'? 'gray' : 'orange',
	    content: s.content,  
	    sort: s.sort
	  };
	});
  	
  	  //캘린더 출력 영역
      document.addEventListener('DOMContentLoaded', function() {    
    	var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',//월간 달력 뷰
          locale: 'ko',//한국어 설정
          editable:false,//드래그해서 수정 가능한지. 길게 확장도 가능
          dayMaxEvents:true,//+more 표시 전 최대 이벤트 갯수. true는 셀 높이에의해 결정
       	  selectable:true,//사용자가 클릭하고 드래그하여 선택할 수 있도록 함
       	  events: events,//목록 조회 시 필요한 항목
       	  
			footerToolbar: {
			      start: "timeGridDay,dayGridMonth,dayGridWeek",
			      /*center: "",
			      end: "",*/
			},
			headerToolbar: {
   				left: 'today addSchedule',
   				center: 'title',
   				right: 'prev,next,listDay'
			},
			
      		//달력에서 '일' 글자 제거하는 내용
      		dayCellContent:function(info){
      		 var number=document.createElement("a");
      		 number.classList.add("dc-daygrid-day-number");
      		 number.innerHTML=info.dayNumberText.replace("일","").replace("日","");
      		 if(info.view.type=="dayGridMonth"){
      			return{
      				html:number.outerHTML
      			};
      		  }
      		  return{
      			 domNodes:[]
      		  };
      		},
      		select: function(start, end) {
      		    openAddScheduleModal(start, end);
      		},
      		
      		//일정등록버튼 노출시키기위한 영역
         	  customButtons: {
     			addSchedule: {
       			text: "일정 등록",
       			click: function () {
         			//alert("일정 등록 하세요!");
         				
         			//하루종일 체크 시 이벤트 설정
       				const allDay = event.allDay; 
                  	document.querySelector("#calAddModal .modal-title");
                  	// 모달 표시
                  	var myModal = new bootstrap.Modal(document.getElementById('calAddModal'));
                  	myModal.show();
       			},
     		}
  			},
  			
      		// 달력 빈 공간 클릭 시 모달 노출
            select: function(info) {
            	//const startDate = event.startStr;
            	//console.log("Clicked event occurs: date = " + info.startStr);
            	// 선택한 날짜를 모달의 시작 날짜 필드에 설정
                document.querySelector("input[name='startDate']").value = info.startStr;
            	//선택한 날짜를 모달의 종료날짜에도 기본으로 노출되도록 설정
            	document.querySelector("input[name='endDate']").value = info.startStr;
                // 모달 표시
                var myModal = new bootstrap.Modal(document.getElementById('calAddModal'));
                myModal.show();
            },

          	 //목록에서 마우스 오버시 tooltip 노출하기
    	   	eventDidMount: function (info) {
      			tippy(info.el, {
       				content: info.event.extendedProps.content,  // 이벤트 내용 가져오기
        			placement: "bottom",
        			offset: [0, 0],
        			interactive: true,
      			});
    		}, 
    		
    		//일정 클릭 시 상세 페이지 이동
            eventClick: function(info) {
            	var event = info.event;
				var id = event.id;
            	
				//상세페이지 이동
				window.location.href = './scheDetail?id=' + id;
			}
    		
        });
        calendar.render();
        
        //'하루종일' 체크 시 시작시간, 종료 시간 00:00으로 설정 및 비활성화
        $("input[name='isAlltime']").on("change", function () {
            let isChecked = $(this).is(":checked");
            let startTimeInput = $("input[name='startTime']");
            let endTimeInput = $("input[name='endTime']");

            if (isChecked) {
                startTimeInput.val("00:00").prop("disabled", true);
                endTimeInput.val("00:00").prop("disabled", true);
            } else {
                startTimeInput.val("").prop("disabled", false);
                endTimeInput.val("").prop("disabled", false);
            }
        });
        
        //등록 버튼 클릭 시 동작
    	const registerBtn = document.querySelector("#calAddModal .scheAddbtn");
    	registerBtn.addEventListener('click', function () {
    	      const isAlltimeChecked = document.querySelector("input[name='isAlltime']").checked;
    	      const isAlltimeValue = isAlltimeChecked ? 1 : 0;
    	      const name = document.querySelector("input[name='name']").value;
    	      const content = document.querySelector("textarea[name='content']").value;
    	      const startDate = document.querySelector("input[name='startDate']").value;
    	      const startTime = document.querySelector("input[name='startTime']").value;
    	      const endDate = document.querySelector("input[name='endDate']").value;
    	      const endTime = document.querySelector("input[name='endTime']").value;
    	      const sort = document.querySelector("select[name='sort']").value;
    	      const startDateTime = startDate + ' ' + startTime + ':00';
    	      const endDateTime = endDate + ' ' + endTime + ':00';
    	      const userId = 1; // 현재는 임시로 고정값
    	      
    	   	  // 유효성 검사
    	      if (!startDate || !startTime || !endDate || !endTime) {
    	          alert("시작/종료 날짜와 시간을 모두 입력해주세요!");
    	          return;
    	      }
    	      
    	      $.ajax({
    	        url: '/scheduleinsert',
    	        type: 'POST',
    	        contentType: 'application/json',
    	        data: JSON.stringify({
    	          userId: userId,
    	          name: name,
    	          content: content,
    	          sort : sort,
    	          isAlltime: isAlltimeValue,
    	          startDate: startDate,
    	          endDate: endDate,
    	          startTime: startTime,
    	          endTime: endTime
    	        }),
    	        success: function (response) {
    	          alert('일정이 등록되었습니다!');
    	          console.log(response);
    	          location.reload();//등록 시 페이지 새로고침
    	        },
    	        error: function (xhr, status, error) {
    	          console.error('에러 발생:', error);
    	          alert('일정 등록 실패!');
    	        }
    	      });
    	    });

    	
    	});
 </script>
 
</head>
<body>
<!-- 일정 추가 모달 -->
<div class="modal" id="calAddModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">일정 추가</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
         <table class="form-control">
         	<tr>
         		<th>하루종일</th>
         		<td>
         			<input class="form-check-input isAlltime" name="isAlltime" type="checkbox" >
         		</td>
         	</tr>
         	<tr>
         		<th>구분</th>
         		<td>
         			<select name="sort">
         				<option class="private" value="private">내 일정</option>
         				<option class="group" value="group">그룹</option>
         				<option class="company" value="company">회사</option>
         			</select>
         		</td>
         	</tr>
         	<tr>
         		<th>일정 제목</th>
         		<td colspan="3">
         			<input class="form-control name" name="name" type="text">
         		</td>
         	</tr>
         	<tr>
         		<th>내용</th>
         		<td colspan="3">
         			<textarea class="form-control content" name="content" rows="2"></textarea>
         		</td>
         	</tr>
         	<tr>
         		<th>시작 날짜</th>
         		<td>
         			<input class="form-control startDate" name="startDate" type="date">
         		</td>
         		<th>시작 시간</th>
         		<td>
         			<input class="form-control startTime" name="startTime" type="time">
         		</td>
         	</tr>
         	<tr>
         		<th>종료 날짜</th>
         		<td>
         			<input class="form-control endDate" name="endDate" type="date">
         		</td>
         		<th>종료 시간</th>
         		<td>
         			<input class="form-control endTime" name="endTime" type="time">
         		</td>
         	</tr>
         	<tr>
         		
         		
         	</tr>
         </table> 
      </div>
		
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success scheAddbtn" data-bs-dismiss="modal">등록</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
      </div>

    </div>
  </div>
</div> <!-- 일정 추가 모달 끝 -->

<!-- 상단 타이틀 영역 -->
<div id='scheTitle'>
	<h2>Scheduler</h2>
	<span style="color: gray;">오늘은 [[${#calendars.format(today, 'yyyy년 MM월 dd일')}]] 입니다.</span>
	<div class="titleSort">
		<a>전체 <input type="checkbox" class="private"></a>
		<a style="color: green;">내 일정 <input type="checkbox" class="private"></a>
		<a style="color: gray;">그룹 일정 <input type="checkbox" class="group"></a>
		<a style="color: orange;">회사 일정 <input type="checkbox" class="company"></a>
	</div>
</div>
<script th:inline="javascript">
	
</script>

<!-- 캘린더 출력 영역 -->
<div id='calendar'></div>
</body>
</html>
